---
import ButtonComponent from "../ui/ButtonComponent.astro"

const links = [
    {
        text: "Become a Host",
        url: "/become-host"
    },
    {
        text: "Beneficios",
        url: "/beneficios"
    },
    {
        text: "Become a Host",
        url: "/become-host"
    }
]
---



<header class="flex h-[61px] w-full px-[10%] my-[40px]">
    <div class="flex items-center justify-start  w-1/3">
        <img src="/public/images/logos/logo-spaciuz.png" alt="Logo Spaciuz" class="h-[61px]">
    </div>
    <div class="flex items-center justify-end  w-2/3 gap-24">
        <div class="items-center justify-center  space-x-10">
            {
                links.map(({text, url}) => (
                    <a href={url} class="text-[20px] font-bold">{text}</a>
                ))
            }
        </div>
        <ButtonComponent text="Regístrate" url="/registrate"/>
        
    </div>
</header>