---
import ButtonComponent from '../ui/ButtonComponent.astro';

const links = [
  {
    text: 'Publica tu espacio',
    url: '#publica',
  },
];
---

<header class="flex h-[61px] w-full px-[10%] pt-[50px] pb-[100px]">
  <div class="flex items-center lg:justify-start lg:w-1/3">
    <img
      src="/images/logos/logo-spaciuz.png"
      alt="Logo Spaciuz"
      class="h-[61px]"
    />
  </div>
  <div class="hidden lg:flex items-center justify-end w-2/3 gap-24">
    <div class="items-center justify-center space-x-10">
      {
        links.map(({ text, url }) => (
          <a
            href={url}
            class="text-[20px] font-semibold cursor-pointer hover:text-[#8059FF]"
          >
            {text}
          </a>
        ))
      }
    </div>
    <ButtonComponent text="Regístrate" url="#formulario" />
  </div>
</header>
