---
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Spaciuz | Agradecimiento</title>
  </head>
  <body class="bg-[#F0F0F0] relative">
    <section
      class="flex flex-col gap-10 items-center justify-center w-full h-screen relative"
    >
      <img
        src="/images/logos/logo-spaciuz.png"
        alt="Logo Spaciuz en sección agardecimiento"
        class="h-[61px] top-[50px] left-[10%] absolute"
      />

      <div
        class="flex flex-col lg:flex-row gap-5 bg-clip-text text-transparent px-[42px] py-[28px] bg-linear-to-r from-[#181B8C] to-[#684ED8] items-center z-10 justify-end"
      >
        <h1 class="font-bold text-[52px] text-center">
          <i class="text-white">🎉</i> ¡Todo listo!
        </h1>
      </div>

      <p class="text-[24px] font-medium text-center w-[30%]">
        Pronto nos comunicaremos contigo para brindarte más detalles.
      </p>
      <span
        class="text-[24px] font-medium text-center bg-[#DCD1FF] rounded-[15px] p-[15px]"
        >Gracias por confiar en nosotros.</span
      >
      <a
        href="/"
        class="rounded-3xl text-white font-semibold bg-linear-to-r from-[#181B8C] to-[#684ED8] text-[20px] lg:text-[24px] px-[46px] py-[19px] w-fit mt-20"
        >Ir a la página de Spaciuz</a
      >
    </section>
  </body>
</html>
